body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    grid-template-columns: max(200px, 20%) 80%;
    box-sizing: border-box;
}

a,
a:hover,
a:visited,
a:active {
    color: inherit; 
    text-decoration: none;
}

.sidebar {
    padding-left: 10%;
    background-color: pink;
}

.sidebar .nav {
    list-style-type: none;
    padding-left: 0;
}

.header{
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    padding: 10px;
}

.search {
    display:flex;
    gap:10px
}

input {
    appearance: none;
    flex: 1;
    height: 1.5rem;
    font-size: 1rem;
    padding-left: 10px;
    font-family: inherit;
    border-radius: 200px;
}

.userOne {
    display: flex;
    justify-content: flex-end;
    gap:15px
}

#userOne {
    height: 50px;
    width: 50px;
    border: 2px solid black;
    border-radius: 100px;
    background-color: white;
}

.headerTwo {
    display: flex;
    gap: 10px;
    padding: 10px;
    justify-content: space-between;
}

.userTwo {
    display: flex;
    gap: 10px;
}

#userTwo {
    height: 75px;
    width: 75px;
    border: 2px solid black;
    border-radius: 100px;
    background-color: white;
}

.welcomeMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcomeMessage p {
    padding: 0;
    margin: 0;
}

.menu {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.menu button{
    background-color: lightblue;
    border-color: lightblue;
    font-size: 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 150px;
    min-width: 15vw;
    padding-left: auto;
    padding-right: auto;
    border-radius: 100px;
    font-family: inherit;
}