body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    grid-template-columns: 250px 1fr;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: #f4c76a;
}

p {
    padding: 0;
    margin: 0;
}

a,
a:hover,
a:visited,
a:active {
    color: inherit;
    text-decoration: none;
}

.sidebar {
    padding-left: 10%;
    background-color: #f48a58;
}

.sidebar .nav {
    list-style-type: none;
    padding-left: 0;
}

.logo p {
    padding-top: 1rem;
    font-size: 1.5rem;
}

.sidebar .nav li img {
    width: 1.5rem;
    margin-right: 1rem;
}

.header {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    padding: 10px;
    background-color: #d7d97d;
}

.search {
    display: flex;
    gap: 10px
}

input {
    appearance: none;
    flex: 1;
    height: 1.5rem;
    font-size: 1rem;
    padding-left: 10px;
    font-family: inherit;
    border-radius: 200px;
}

.userOne {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px
}

#userOne {
    height: 50px;
    width: 50px;
    border: 2px solid black;
    border-radius: 100px;
    background-color: white;
}

.headerTwo {
    display: flex;
    gap: 10px;
    padding: 10px;
    padding-top: 0;
    justify-content: space-between;
    background-color: #d7d97d;

}

.userTwo {
    display: flex;
    gap: 10px;
}

#userTwo {
    height: 75px;
    width: 75px;
    border: 2px solid black;
    border-radius: 100px;
    background-color: white;
}

.welcomeMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu {
    list-style-type: none;
    padding: 0;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}

.menu button {
    background-color: #60b39d;
    border-color: #60b39d;
    font-size: 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 150px;
    min-width: 13vw;
    padding-left: auto;
    padding-right: auto;
    border-radius: 100px;
    font-family: inherit;
    box-shadow: 2px 2px 10px darkgray
}

.content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.projects {
    grid-column: 1 / 2;
    grid-row: 1/ 3;
    height: 80vh
}

.yourProjects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    list-style-type: none;
    padding: 0;
    padding-left:10px;
    padding-right: 10px;
    gap: 20px;
}

.content h2 {
    font-size: 1.1rem;
    font-weight: normal;
    margin: 10px;
}

.card {
    background-color: white;
    width: 95%;
    height: 23vh;
    border-left: 10px solid #f4192f;
    border-radius: 15px;
    box-shadow: 2px 2px 10px darkgrey;
    display: flex;
    flex-direction: column;
}

.card h2 {
    margin: 0.5rem;
    font-weight: bold;
}

.card p {
    margin: 0.5rem;
    margin-top: 0;
    flex-grow: 1;
    max-width: 95%;
}

.actions {
    margin: 0.5rem;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.actions img {
    width: 2rem;
}

.announcements {
    grid-column: 2 / 3;
    grid-row: 1/ 2;
    height: 40vh;
}

.announcements ul {
    height: 85%;
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    border-radius: 15px;
    background-color: white;
    box-shadow: 2px 2px 10px darkgrey;
}

.announcements ul li {
    flex-grow: 1;
}

.announcements ul li:not(:last-child) {
    border-bottom: black solid 1px;
}

.announcements ul li h2 {
    margin: 0.5rem;
    margin-bottom: 0;
    font-size: 1.1rem;
    font-weight: bold;
}

.announcements ul li p {
    margin: 0.5rem;
}

.trending {
    grid-column: 2 / 3;
    grid-row: 2/ 3;
    height: 40vh;
}

.trending ul {
    height: 83%;
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    border-radius: 15px;
    background-color: white;
    box-shadow: 2px 2px 10px darkgrey;
}

.userThree {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    flex-grow: 1;
}

.userThree:not(:last-child) {
    border-bottom: gray solid 1px;
}

